<div class="modal-header bg-light">
  <h4 class="modal-title text-danger">Attention!</h4>
</div>
<div class="modal-body">
  <div id="div-plain">
    <p id="p-1">
      Do you want to delete the selected user?
    </p>
  </div>
</div>
<div class="modal-footer">
  <button (click)="activeModal.close(true)" class="btn btn-danger" type="button">
    <label> Yes </label>
  </button>
  <button (click)="activeModal.close(false)" class="btn btn-secondary" type="button">
    <label> No </label>
  </button>
</div>
